<div class="page-header">
  <h3>Cuisine Tag #<%= @cuisine_tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Cuisine type</dt>
      <dd><%= @cuisine_tag.cuisine_type %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cuisine_tags" class="btn btn-primary">
        Back
      </a>
      <a href="/cuisine_tags/<%= @cuisine_tag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cuisine_tag/<%= @cuisine_tag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
